---
layout: base.njk
title: Blog
needsGallery: false
permalink: "blog/index.html"
---
<div class="blog">
  <h1 class="page-heading">Blog</h1>
  <div class="post-list">
    {% for post in collections.postsByDate %}
    <a class="post" href="{{ post.url }}">
      <div class="pd-row">
        <div class="pd">{{ post.data.date | readableDate }}</div>
        {% for tag in post.data.tags %}{% if tag != "post" %}<span class="tag-pill" data-tag="{{ tag | lower }}">{{ tag }}</span>{% endif %}{% endfor %}
      </div>
      <h3>{{ post.data.title }}</h3>
      {% if post.data.description %}<p>{{ post.data.description }}</p>{% endif %}
    </a>
    {% endfor %}
    {% if collections.postsByDate.length == 0 %}
      <p class="page-description">No posts yet.</p>
    {% endif %}
  </div>
</div>
