---
layout: base.njk
pagination:
  data: categories
  size: 1
  alias: category
permalink: "gallery/{{ category.slug }}/index.html"
needsGallery: true
eleventyComputed:
  title: "{{ category.title }}"
  description: "{{ category.description }}"
---
<div class="gal"{% if category.accentLight %} style="--hl-light:{{ category.accentLight }};{% if category.accentDark %}--hl-dark:{{ category.accentDark }};{% endif %}"{% endif %}>
  <div class="justified-gallery">
    {% for photo in category.photos %}
      {% galleryItem photo %}
    {% endfor %}
  </div>
</div>
